VITE_GO_API_URL=http://localhost:8080
VITE_GO_API_PATH=/api/v1/matrix/qr
VITE_JWT_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjbGllbnQiLCJpYXQiOjE3ODg0OTcxNDAsImV4cCI6MTc4ODUwMDc0MH0.usI16Zkog-0enwYHuyToG8-y0NQHbAdSwlkZSHv6vPg
