VITE_GO_API_URL=http://localhost:3000
VITE_GO_API_PATH=/api/v1/matrix/qr
VITE_JWT_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJtYXRyaXgtY2hhbGxlbmdlLWNsaWVudCIsImlhdCI6MTc4ODU0MjUwOSwiZXhwIjoxNzg5MTQ3MzA5fQ.MOBL6mSnLR4wPTZZQ0L0YmszXFSagxpjRgSZry4HKt8
